<h1>Welcome to Rock Paper Scissors!!!!!</h1>

<p> To play, Player 1 should first type  game/ followed by their choice and another /. Player 2 should then type their choice (don't look at what Player 1 wrote though!!). Press enter to the run the game and the result will be displayed. </p>